body {
    background-color:#408f04;
    color: white;
}

.header {
    padding: 60px;
    text-align: left;
    color: white;
    font-size: 30px;
  }
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: yellow;
}

